<h1 class="title"> Welcome Back...!</h1>

<div class="card-container col-sm 3">
    <div class="card user-card">
      <h2>User</h2>
      <p>Manage user profiles and settings.</p>
    </div>
    <div class="card course-card">
      <h2>Course</h2>
      <p>View and manage course details.</p>
    </div>
    <div class="card batch-card">
      <h2>Batch</h2>
      <p>Handle batch assignments and schedules.</p>
    </div>
    <div class="card student-card">
      <h2>Student</h2>
      <p>Track student progress and records.</p>
    </div>
  </div>
  
<div class="row">
    <div class="col-sm 6">
    <highcharts-chart id="line-chart"
    [Highcharts]="highcharts"
    [options]="chartOptions"
    ></highcharts-chart>
</div>
    
    <div class="col-sm 6">
        
        <app-pie-chart></app-pie-chart>
    </div>
</div>